<mat-toolbar class="navbarfull" color="accent">

    <div class="companyname">

    <button mat-icon-button class="soloBubble" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
    </button>
    <div class="barname">
        <span class="barnametop">Zeruma.</span>
        <span class="barnamelow">PROPERTY</span>
    </div>
</div>
<div class="search">

  <mat-form-field class="form-field" floatLabel="never">
      <mat-label>City, neighborhood or address</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-icon class="lupa-icon">search</mat-icon>
</div>
    <div class="restButton">
        <p class="pList">Home</p>
        <p class="pList">New Development</p>
        <p class="pList">Agent Finder</p>
        <p class="pList">Exclusive</p>
        <div  class="pListpropertyBorder">
            <p class="pListproperty">+ List Your Property</p>
        </div>
    </div>
  </mat-toolbar>

